.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 86, 91);
  color: white;
  padding: 15px;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav a {
  color: white;
  text-decoration: none;
}
